{% extends 'layout.twig' %}

{% block opcoes %}
        <a href="{{ path('produtoNovo') }}" title="Cadastra um novo produto" class="btn btn-success pull-right">Novo Produto</a>
{% endblock %}

{% block conteudo %}
        <form action="/produtos" method="post" class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="iid">Id:</label>
                <div class="controls">
                    <select name="tid" class="span2">
                        <option value="qualquer" {% if parametros.tid == 'qualquer' %}selected{% endif %}>Qualquer</option>
                        <option value="iguala" {% if parametros.tid == 'iguala' %}selected{% endif %}>Igual a</option>
                        <option value="maiorque" {% if parametros.tid == 'maiorque' %}selected{% endif %}>Maior que</option>
                        <option value="menorque" {% if parametros.tid == 'menorque' %}selected{% endif %}>Menor que</option>
                    </select>
                    <input type="number" class="span2" id="iid" name="id" min="0" step="1" placeholder="Id" value="{{ parametros.id }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="ivalor">Valor:</label>
                <div class="controls">
                    <select name="tvalor" class="span2">
                        <option value="qualquer" {% if parametros.tvalor == 'qualquer' %}selected{% endif %}>Qualquer</option>
                        <option value="iguala" {% if parametros.tvalor == 'iguala' %}selected{% endif %}>Igual a</option>
                        <option value="maiorque" {% if parametros.tvalor == 'maiorque' %}selected{% endif %}>Maior que</option>
                        <option value="menorque" {% if parametros.tvalor == 'menorque' %}selected{% endif %}>Menor que</option>
                    </select>
                    <input type="number" class="span2" id="ivalor" name="valor" min="0" step="0.01" placeholder="Valor" value="{{ parametros.valor }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inome">Nome:</label>
                <div class="controls">
                    <select name="tnome" class="span2">
                        <option value="qualquer" {% if parametros.tnome == 'qualquer' %}selected{% endif %}>Qualquer</option>
                        <option value="iguala" {% if parametros.tnome == 'iguala' %}selected{% endif %}>Igual a</option>
                        <option value="contem" {% if parametros.tnome == 'contem' %}selected{% endif %}>Contém</option>
                        <option value="naocontem" {% if parametros.tnome == 'naocontem' %}selected{% endif %}>Não contém</option>
                    </select>
                    <input type="text" class="span6" id="inome" name="nome" placeholder="Nome" value="{{ parametros.nome }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="idesc">Descrição:</label>
                <div class="controls">
                    <select name="tdesc" class="span2">
                        <option value="qualquer" {% if parametros.tdesc == 'qualquer' %}selected{% endif %}>Qualquer</option>
                        <option value="iguala" {% if parametros.tdesc == 'iguala' %}selected{% endif %}>Igual a</option>
                        <option value="contem" {% if parametros.tdesc == 'contem' %}selected{% endif %}>Contém</option>
                        <option value="naocontem" {% if parametros.tdesc == 'naocontem' %}selected{% endif %}>Não contém</option>
                    </select>
                    <input type="text" class="span6" id="idesc" name="desc" placeholder="Descrição" value="{{ parametros.desc }}">
                    <div class="pull-right">
                        <button type="submit" name="submit" value="1" title="Buscar produtos com os critérios selecionados" class="btn btn-info">Buscar</button>
                        <a href="{{ path('produtos') }}" title="Limpa consulta" class="btn btn-primary">Limpar</a>
                    </div>
                </div>
            </div>

        </form>

        <hr>

        <table class="table table-bordered table-hover">

            <thead>
                <tr style="background: #F5F5F5">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.valor }}</td>
                        <td>
                            <a href='/produtos/edit/{{ produto.id }}' title="Editar"><i class="icon-edit"></i></a>
                            &nbsp;&nbsp;
                            <a href='/produtos/delete/{{ produto.id }}' title="Excluir"><i class="icon-trash"></i></a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock %}